<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quacker!</title>
    <link rel="shortcut icon" href="../static/images/duck_128.png" type="image/png">
</head>
<body>
    <div class="container">
        <div class="offset-md-2 col-md-8 col-12">
            <button id="button" class="duck-button col-12">
                <img class="col-12" src="../static/images/duck.png" alt="Quack!">
            </button><br><br>
            <input type="text" id='nickname' class="form-control" placeholder="Ник для лидерборда">
            <br>
            <button class="btn btn-primary col-12">Выбрать ник</button>
            <br><br>
            <table id="tbl" class="col-12 table table-stripped"></table>
            <br><br>
            <h1>Список вопросов</h1>
            <br>
            <select id="slct" class="col-12 form-control"></select>
            <br>
            <input type="text" id="answer" class="col-12 form-control" placeholder="Ответ">
            <br>
            <button id="sendAnswer" class="col-12 btn btn-primary">Отправить</button>
            <br><br><br><br>
            <div class="card col-12">
                <div class="card-body">
                    <h3 class="card-title">Что это? Зачем это? Как это?</h3>
                        <br><h4 class="card-subtitle mb-2 text-muted">Игра кликер</h4>
                        <p class="card-text">Кликай, ищи отсылки, отвечай на вопросы, выигрывай</p>
                        <br><h6 class="card-subtitle mb-2 text-muted">Зачем? Кря-Кря</h6><br>
                        <h4 class="card-subtitle mb-2 text-muted">Гайд для невероятно сложной игры</h4>
                        <p class="card-text">Введите свой ник (можно и чужой, но зачем вы будете помогать кому-то набирать очки?), кликайте на наше лого, каждый 10 клик идет в лидерборд, ищите осылки для ответа на вопросы. Все!</p>
                        <br><h6 class="card-subtitle mb-2 text-muted">Спасибо, что прочитал, а то у меня забрали камень и заставили это написать :(</h6><br>
                </div>
            </div>
            <br><br>
        </div>
    </div>
</body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="../static/index.css">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../static/quack.js"></script>
</html>