<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quacker!</title>
</head>
<body>
    <div class="container">
        <div class="offset-md-2 col-md-8 col-12">
            <button id="button" class="duck-button col-12">
                <img class="col-12" src="../static/images/duck.png" alt="Quack!">
            </button><br><br>
            <input type="text" id='nickname' class="form-control" placeholder="Ник для лидерборда">
        </div>
    </div>
</body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="../static/index.css">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../static/quack.js"></script>
</html>